html{
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}


.img {
	padding-top: 10px;
}


.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}


.herocontainer {
	width: 100%;
	height: 100%;
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ),url(../src/bg_final1.jpg) no-repeat center center fixed;
	background-size: cover;
	
}

.herotxt{
	color: white;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

.herotxt1{
	color: white;
	position: relative;
	margin-left: 50px;
	font-size: 25px;
}

.hero_input{
	padding: 0 30%;
	margin-top: 30px;
}

.hero_input_txt{
	border-radius: 0;
}

.hero_input_btn{
	border-radius: 0;
}

.flight-number{

}

#flight-container {
	max-width: 860px;
	height: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	/*padding: 10px 10px 10px 10px;*/
	width: auto;
	height: auto;
	border: 1px solid #ccc;
	border-radius: 16px;
}

#map-container{
	margin-top: 10px;
	padding-top: 50px;
	height: 270px;
}

.card-img-top {
	text-align: center!important;
}